<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="server.js"></script>
</head>
<body>

   
    
    <li id="result"><%= name %></li>
    <h1> <%= name2 %>  </h1>
    <h1> <%= name3 %>  </h1>
    <h1> <%= name4 %>  </h1>
   
    
</body>
</html>